<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated dtmc -->
      <package
            uri="http://sag.org.eclipse.hc/dtmc"
            class="sag.org.eclipse.hc.dtmc.DtmcPackage"
            genModel="model/dtmc.genmodel"/>
   </extension>

</plugin>
